include MANIFEST.in
include LICENSE
include README.md
include setup.py
include *.rst
graft perfana

global-exclude *.py[co]

prune .pytest_cache
prune docs
prune perfana/datasets/data

include versioneer.py
include perfana/_version.py
